/* Cascadia Mono Font */
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: "Cascadia Mono", sans-serif;

  color: white;

  list-style: none;
}

body {
  background: #eee2ae;
  background: radial-gradient(
    circle,
    rgba(238, 226, 174, 1) 29%,
    rgba(233, 148, 148, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100vh;
}
